<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- 不再维护 -->
<suite name="WxJava-suite" verbose="1">
  <test name="API_Test">
    <classes>
      <class name="me.chanjar.weixin.cp.api.WxCpBusyRetryTest"/>
      <class name="me.chanjar.weixin.cp.api.WxCpBaseAPITest"/>
      <class name="me.chanjar.weixin.cp.api.WxCpMessageRouterTest"/>
      <class name="me.chanjar.weixin.cp.tp.service.impl.WxCpTpServiceApacheHttpClientImplTest"/>
      <class name="me.chanjar.weixin.cp.config.impl.WxCpTpDefaultConfigImplTest"/>
        <class name="me.chanjar.weixin.cp.tp.service.impl.WxCpTpTagServiceImplTest"/>
    </classes>
  </test>

  <test name="Bean_Test">
    <classes>
      <class name="me.chanjar.weixin.cp.bean.message.WxCpMessageTest"/>
      <class name="me.chanjar.weixin.cp.bean.message.WxCpXmlMessageTest"/>
      <class name="me.chanjar.weixin.cp.bean.message.WxCpXmlOutImageMessageTest"/>
      <class name="me.chanjar.weixin.cp.bean.message.WxCpXmlOutNewsMessageTest"/>
      <class name="me.chanjar.weixin.cp.bean.message.WxCpXmlOutVideoMessageTest"/>
      <class name="me.chanjar.weixin.cp.bean.message.WxCpXmlOutVoiceMessageTest"/>
      <class name="me.chanjar.weixin.cp.bean.message.WxCpXmlOutTextMessageTest"/>
    </classes>
  </test>
</suite>
